<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    
    

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="shortcut icon" type="image/jpg" href="images/fav icon.png"/>
    <title>Adminstation</title>
</head>
<body>
    <div class="opa">
        <ul class="nav-Links">
            <li>
               
                
                
                <i class="fas fa-sign-out-alt"></i>
            </li>
          
        </li>
       
      
          
        </ul>
     
      
          <i class="fas fa-sign-out-alt"></i>
       
    </div>
    <ul class="srenga">
<nav>
         <h2 class="dashborad"> 𝘿𝙖𝙨𝙝𝙗𝙤𝙖𝙧𝙙 </h2>
         <hr>
     
        <li><a class="active" href="#home">Account Mangement</a></li>
        <li><a href="/">Main Site</a></li>
        <li><a href="#contact">Check Veiws</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
    
      

    </nav>
   
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                 <h2>ADMIN DASHBOARD</h2>   
                </div>
            </div>              
             <!-- /. ROW  -->
              <hr />
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="alert alert-info">
                         <strong>Welcome To the system  </strong> 
                    </div>
                   
                </div>
                </div>
              <!-- /. ROW  --> 
                        <div class="row text-center pad-top">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                  <div class="div-square">
                       <a href="/MangeSellers" >


                  <h4>Mange Sallers</h4>
                  </a>
                  </div>
                 
                 
              </div> 
             
          
                 
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                  <div class="div-square">
                       <a href="" >

                  <h4>Mangage Customers</h4>
            
                  </a>
                  </div>
                 
                 
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                  <div class="div-square">
                       <a href="" >

                  <h4>Manage ....</h4>
                  </a>
                  </div>
                 
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <div class="div-square">
                         <a href="FaQ.html" >
                          <h4>Support</h4>
              </div>
           
                 
                 
              </div>
            

                 
                  </a>
                  </div>
                 
                
              </div>
         
</body>
</html>