<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

  <link rel="stylesheet" href="assets/css/templatemo-training-studio.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>Mange Sellers</title>
</head>
<body>
  <div class="opa">
    <ul class="nav-Links">
        <li>
            <a  href="index.php">Home</a>
            </li>
            <li>
            <a href="News.php">News</a>
            </li>
            <li>
            <a href="Login.php">Login</a>
            </li>
            <li>
            <a href="About.php">About</a>
            
            
          
        </li>
      
    </li>
   
  
      
    </ul>
      <input type="text" placeholder="Search.." >
  
    
   
</div>
  <div class="srenga">
    <nav>

  <ul>

    <h2 class="dashborad"> ğ˜¿ğ™–ğ™¨ğ™ğ™—ğ™¤ğ™–ğ™§ğ™™ </h2>
    <hr>

   <li><a class="active" href="#home">Home</a></li>
   <li><a href="#news">News</a></li>
   <li><a href="#contact">Contact</a></li>
   <li><a href="#about">About</a></li>
 </ul>
</nav>

</div>



 <div class=" mange_users"> 
   <div class ="Hearder_User">
     
  <h2>Mange Users</h2>
  <form action="/" method="post">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>status</th>
          <th>Acction</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>UserName</td>
          <td>example@gmail.com</td>
          <td>Male</td>
          <td>Active</td>
          <td><a href="#" class="btn border-shadow update">
            <span class="text-gradtient"><i class="fas fa-pen"></i></span>
          </a></td>
          <td><a  class="btn border-shadow delete">
            <span class="text-gradtient"><i class="fas fa-times"></i></span>
          </a></td>
        </tr>
      </tbody>
    </table>
  </form>

</div>
</div>


 </div>


</body>
</html>
